.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #666;
}


.link-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    flex-basis: 33.33%;

  }
  
  .navlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .active {
    background-color: #111;
  }


  
  /* Change the link color to #111 (black) on hover */
.navlink:hover {
    background-color: #111;
  }
  